[flake8]
max-line-length = 100
exclude = .venv
ignore =
    # disable, whitespace before ':' https://github.com/TCLResearchEurope/ctw-pre-commit-hooks/issues/3
    E203,
    # disable "too many leading '#' for block comment"
    E266,
    # disable "line break before binary operator" which clashes with black
    W503,
    # disable "invalid escape sequence"
    W605,
