@font-face {
  font-family: 'univers';
  src: url('../fonts/univers/UniversLTStd.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'univers';
  src: url('../fonts/univers/UniversLTStd-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  font-family: 'univers';
}
